[submodule "external_libs/include/ImGuiColorTextEdit"]
	path = external_libs/include/ImGuiColorTextEdit
	url = https://github.com/AlexanderBrevig/ImGuiColorTextEdit
	branch = yalexide
[submodule "yalex"]
	path = yalex
	url = https://github.com/AlexanderBrevig/yalex
